footer {
  background-color: black;
  color: #FFFFFF;
  width: 100%;
  align-items: center;
  bottom: 0;
}

ul {
  padding: 0;
  font-size: 1em;
}

footer li {
  list-style-type: none;
  margin: 5px;
  font-family: sans-serif;
}

h4 {
  margin: 0 auto;
}

b {
  font-size: 1.25em;
}

.companyList, .categoriesList, .email {
  display: inline-block;
  margin: 25px;
  margin-right: 10%;
  text-align: left;
}

input {
  width: 70%;
  font-size: 100%;
  padding: 5px;
}

.logo form {
  margin: auto;
  width: 50%;
}

button {
  color: #FFFFFF;
  background-color: #E52113;
  font-family: "Bebas Neue";
  font-size: 100%;
}

::-webkit-input-placeholder {
  font-family: "Bebas Neue";
}