@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: "Bebas Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5em;
  margin: 0;
  color: #E52113;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

button {
  color: #FFFFFF;
  background-color: #E52113;
  font-family: "Bebas Neue";
  font-size: 100%;
  padding: 5px;
}

.search input, .search button {
  padding: 20px;
  font-size: 100%;
  margin-bottom: 50px;
}

.strangerThings {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  opacity: 75%;
  font-size: 1.5em;
}

.strangerThings h2, h3 {
  margin: 0;
}

.featured {
  position: relative;
  text-align: left;
  margin-bottom: 100px;
}

.featured > img {
  max-width: 100%;
}

.MovieCard {
  font-size: 1.5em;
  text-align: left;
  margin: 5px;
  padding: 50px;
}

.MovieCard p {
  font-family: "open-sans";
  max-width: 90%;
}

.MovieCard img {
  max-width: 90%;
}

.col-xs-12, .col-sm-6, .col-md-6, .col-lg-4 {
  padding: 0;
  margin: 0;
}

h2 > img {
  width: 200px;
}

.register, .login {
  align-items: left;
  margin: 0 auto;
  width: 50%;
}

.register label, .login label{
  margin-right: 5px;
}

.register button {
  margin-bottom: 450px;
}

.login button {
  margin-bottom: 600px;
}

.dashboard {
  margin-bottom: 550px;
}